<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
    <appSettings>
        <add key="OrgTitle" value="Auto Rest Project 2" />
        <add key="WaiterTitle" value="Официант" />
        <add key="ChiefTitle" value="Шеф-повар" />
        <add key="Admin" value="Администратор" />
		
        <add key="OrderProcessing" value="В обработке" />
        <add key="OrderWaitingPayment" value="Ожидание оплаты" />
        <add key="OrderDone" value="Закрыт" />

		<add key="OrderStringDone" value="Готов" />
		<add key="OrderStringProcessing" value="Готовится" />
		<add key="OrderStringNotDone" value="Не готов" />
		
		<add key="GoodTimeSecond" value="100" />
		<add key="AverageTimeSecond" value="200" />
		<add key="BadTimeSecond" value="300" />
    </appSettings>
	
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Data Source=KPRK;Initial Catalog=AutoRestBD;Integrated Security=True" />
	</connectionStrings>
	
</configuration>