<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="Key0" value="test1" />
        <add key="Key1" value="test2" />
        <add key="Key2" value="test3" />
    </appSettings>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Data Source=KPRK;Initial Catalog=AutoCaffeeBD;Integrated Security=True" />
	</connectionStrings>
</configuration>