<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="OrgTitle" value="Auto Rest Project 2" />
        <add key="WaiterTitle" value="Официант" />
        <add key="ChiefTitle" value="Шеф-повар" />
		
        <add key="OrderProcessing" value="В обработке" />
        <add key="OrderWaitingPayment" value="Ожидание оплаты" />
        <add key="OrderDone" value="Закрыт" />
    </appSettings>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Data Source=KPRK;Initial Catalog=AutoRestBD;Integrated Security=True" />
	</connectionStrings>
</configuration>